*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#back{

    background-size: cover;
    width: 100%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1576435728678-68d0fbf94e91?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1203&q=80);
}
#overlap{
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.719) ;
}
#text{
    ;
    color: #fff;
}
#text h1{
    position:absolute ;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center


    font-family:roboto_condensed ;
    font-size: 60px;
    font-weight: 100;
    letter-spacing: 35px;
    text-transform: uppercase;
}
#text p{
    position:absolute ;
    top: 55%;
    left: 36%;
    text-align: center 
    font-family:montserrat;
    font-size: 13.5px;
    letter-spacing: 5px;
    
}
#text button{
    position: absolute;
    top:60% ;
    left: 45%;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    animation: a 2s ease-in-out both;
    
}
#text img{
    position: absolute;
    top: 65%;
    left: 30%;
    animation: b 3.5s ease-in-out both;
    

}
@keyframes a{
    from{
        opacity: 0;
        transform: translateY(35px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes b{
    from{
        opacity: 0;
        transform: translateX(100px);
    }
    to{
        opacity: 1;
        transform: translateY(30px);
    }
}