*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat';
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    overflow-x: hidden;
}
#handler{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
#back{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #fff;
}
#left{
    width: 43%;
    height: 100%;
    /* background-color: red; */
}
#left #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    width: 100%;
    height: 90px;
    /* background-color: red; */
}
#left #nav h3{
    font-family: 'shaloems';
}
#left #nav #icons i{
    opacity: .2;
    margin-left: 30px;
    font-size: 14px;
    transition: all ease-in-out .2s;
}
#left #nav #icons i:hover{
    opacity: 1;
    cursor: pointer;
}
#maindets{
    position: relative;
    width: 100%;
    min-height: 40%;
    /* background-color: red; */
    margin-top: 70px;
    padding: 0 40px;
}
.line{
    width: 50%;
    height: 3.2px;
    background-color: #000;
    border-radius: 100px;
}
#maindets h4{
    font-size: 9px;
    margin-top: 30px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 30px;
}
#maindets h1{
    font-family: 'shaloems';
    font-size: 70px;
    margin-bottom: 30px;
}
#maindets h5{
    font-size: 10px;
    font-family: poppins regular;
    letter-spacing: 10px;
    font-weight: 100;
    margin-bottom: 40px;
}
#maindets p{
    font-size: 10px;
    width: 70%;
    line-height: 20px;
    margin-bottom: 30px;
}
#center{
    position: relative;
    width: 50%;
    height: 100%;
    /* background-color: yellow; */
}
#maindets .line:nth-child(6){
    position: absolute;
    right: 20%;
    border-radius: initial;
    height: 5px;
    /* background-color: red; */
}
#left #maindets img{
    width: 120px;
    margin-top: 40px;
    cursor: pointer;
    transform-origin: center center;
   
}
#left #maindets img:active{
    transition: all linear .5s;
    transform: rotate(360deg);
}
#center img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
#right{
    position: relative;
    width: 7%;
    height: 100%;
    /* background-color: rebeccapurple; */
}
#links{
    width: 70vh;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(90deg);
}
#links a{
    text-decoration: none;
    font-size: 11px;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
}
#overlay{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999999999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:0;
    height:0;
    border-radius: 50%;
    background-color: #f3f3f3;
}
#overlay h1{
    position: relative;
    width: 1000px;
    height: 50px;
    /* background-color: red; */
    font-weight: 300;
    overflow: hidden;
}
#overlay h1 span{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,0);
}
#overlayanm{
    z-index: 9999;
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(107, 107, 107);
    width: 100%;
    height: 100%;
    animation: anim 2s cubic-bezier(0.19, 1, 0.22, 1) 6s both;
}
#rightoverlay{
    /* display: none; */
    position: absolute;
    top: 0;
    left:0;
    z-index:99999999 ;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 70px;
}
#rightoverlay h3{
    font-size: 30px;
    font-weight: 300;
}
.emphasize{
    font-family: shaloems;
    font-weight: 900;
    font-size: 70px;
}
#worksamples{
    /* display: flex; */
    width: 100%;
    min-height: 100%;
    margin-top: 50px;
    /* background-color: red; */
}
.work{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 700px;
    background-color:#f7f7f7;
    border-radius: 4px;
}

 .holder{
     /* background-color: red; */
     width: 200px;
     height: 320px;
     overflow: hidden;

 }
 .holder:nth-child(2n){
     transform: scale(.7);
 }
 .holder img{
     width: 100%;
     height: 100%;
     cursor: pointer;
     transition: all cubic-bezier(0.19, 1, 0.22, 1) .8s;
 }

.holder:hover img{
    transform: scale(1.3);
}

#centerbtn{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%,0);
    padding: 12px 52px;
    background-color: black;
    border: none;
    color: #fff;
    cursor: pointer;
}
#wrklft{
    display: flex;
    align-items: center;
    position: absolute;
    top: 10%;
    left: 10%;
    text-transform: uppercase;
    font-family: montserrat;
    font-size: 8px;
    letter-spacing: 10px;
}
#wrklft i{
    font-size: 14px;
    margin-top: -2px;
    margin-left: 10px;
}
#wrkryt{
    display: flex;
    align-items: center;
    position: absolute;
    top: 10%;
    right: 10%;
    text-transform: uppercase;
    font-family: montserrat;
    font-size: 8px;
    letter-spacing: 10px;
}
#wrkryt i{
    font-size: 12px;
    margin-top: -2px;
    margin-left: 10px;
}
.workcatg{
    width: 100%;
    height: 200px;
    background-color: #e7ecec;
    margin-top: 30px;
    padding: 30px;
}
.workcatg .main{
    position: relative;
    display: flex;
    width: 30%;
    height: 100px;
    background-color: #fff;
    border-radius: 20px;
    padding: 15px 30px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.1);
}
.maindets{
    margin-left: 20px;
}
.main .mainpic{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-image: url("https://images.unsplash.com/photo-1516914943479-89db7d9ae7f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
    background-size: cover;
    background-position: center;
}
.main .maindets h2{
    font-size: 20px;
    font-weight: 500;
    margin-top: 7px;
}

.maindets h5{
    opacity: .6;
    margin-top: 5px;
}
.main #elem i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #fff;
    /* background: linear-gradient(to right bottom,rgb(235, 201, 109),rgb(233, 40, 146),rgb(255, 0, 0)); */
}
.main #elem{
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translate(0,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width:50px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(to right bottom,rgb(235, 201, 109),rgb(233, 40, 146),rgb(255, 0, 0));

}














@keyframes anim{
    0%{
        width: 0;
        left: 0;
    }
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}
