*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat;
}
html,body{
    width: 100%;
    height: 100%;
}
#back{
    display: flex;
    width: 100%;
    height: 100%;
    /* background-color:blue; */
}
#left{
    width: 15%;
    height: 100%;
    background-color: white;
    padding: 50px 10px;
}
#right{
    width: 85%;
    height: 100%;
    padding:40px 25px ;
    background-color: #53e7ff;
     /* background-color:rgb(231, 236, 238); */
}
#profile{
    display: flex;
    flex-direction: column;
    align-items: center;
     width: 100%;
     height: 120px;
     /* background-color: rgb(212, 184, 184); */
}
#prflimg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* background-color: yellow; */
    background-size: cover;
    background-position: center;
    box-shadow: 0 10px 20px -3px rgba(0, 0, 0, 0.5);
    background-image: url(https://images.unsplash.com/photo-1504703395950-b89145a5425b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=651&q=80);
}
#profile h3{
    text-transform: capitalize;
    margin-top: 14px;
    font-weight: 500;
    opacity: 0.7;

}
#profile h5{
    text-transform: capitalize;
    margin-top: 3px;
    opacity: 0.5;
    font-size:10px;
    font-weight: 600;
}
#links{
    opacity: 0.4;
    width: 100%;
    height: 70%;
    /* background-color: royalblue; */
    margin-top: 30px;
    padding: 0px 30px;
}
.links{
    display: flex;
    align-items: center;
    text-transform: capitalize;
    margin-bottom: 48px;
}
.links:nth-child(5){
    color: rgb(0, 28, 121);
    opacity: .9;
}
.links i{
     margin-right: 20px;
}
.links p{
  font-weight: 550;
  font-size: 15px;
}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    /* background-color: chartreuse; */
}
#secleft{
    display: flex;
    align-items: center;
}
#secleft #logo{
    width: 50px;
    height: 50px;
    background-color: blue;
    border-radius: 5px;
    box-shadow: 0 10px 20px -3px rgba(20, 13, 13, 0.5);
    background-size: cover;
    background-position: center;
    background-image: url(https://images.unsplash.com/photo-1505909182942-e2f09aee3e89?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80);
    
}
#secleft #searchfield{
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin-left: 50px;
    width: 220px;
    height: 40px;
    border-radius: 100px;
    background-color:rgb(215, 224, 228);
}
#searchfield i{
    opacity: 0.2;
}
#searchfield input{
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0 10px;
    font-weight: 600;
    opacity: .5;
}
#secright{
    display: flex;
    align-items: center;
    width: 275px;
    height: 70px;
    /* background-color: tomato; */
}
.opt1{
    display: flex;
    align-items: center;
}
.opt1 i{
    margin-right: 10px;    
}
.opt1 h4{
    font-weight: 500;
    opacity: .5;
    text-transform: capitalize;
}
.opt2{
    display: flex;
    align-items: center;
    margin-left: 20px;
    
}
.opt2 h4{
    margin: 0px 14px;
    font-weight: 500;
    opacity: .6;
    text-transform: capitalize;
}
#logimg{
    width: 30px;
    height: 30px;
    /* background-color:greenyellow; */  
    box-shadow: 0 10px 20px -3px rgba(20, 13, 13, 0.5);
    border-radius: 50%;   
    background-size: cover;
    background-position: center;
     background-image: url(https://images.unsplash.com/photo-1504703395950-b89145a5425b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=651&q=80);
}
#hotticketbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    /* background-color: red; */
    margin: 15px 0px;
}
#hotticketbar h3{
 color: rgb(50, 51, 68);
}
#tcktrght{
    display: flex;
    align-items: center;
    /* background-color: indigo; */
}
#tcktrght i{
    font-size:13px ;   
     color: rgb(212, 151, 151);

}
#tcktrght h5{
    font-size: 13px;
    margin: 0px 10px;
    color: rgb(47, 82, 117);
}
#bluebtn{
    padding: 7px 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    background-color: rgb(61, 63, 202);
    margin-left: 35px;
    margin-right: 13px;
    font-weight: 500;
}
#whitebtn{
    padding: 7px 20px;
    color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 5px;
    background-color: white;
    margin-right: 6px;
    font-weight: 500;

}
#cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 260px;
    /* background-color: saddlebrown; */
}
.card{
    position: relative;
    width: 23%;
    height: 100%;
    border-radius: 20px;    
    box-shadow: 0 13px 20px -10px rgba(0, 0, 0, 0.5);
    background-color: #fff;
}
.active{
    border: 2.5px solid rgb(66, 69, 250);
}
.circle{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border: 1.3px solid rgba(202, 185, 185, 0.479);
    border-radius: 50%;

}
.bluemark{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(66, 69, 250);
    border-color: rgb(66, 69, 250);
}
.bluemark i{
    color: #fff;
    font-size: 9px;
}
#trash{
    position: absolute;
    right: 15px;
    top: 15px;
    opacity: .3;
}
#trash:hover{
    color: red;
    opacity: .7;
    cursor: pointer;
}
.dets{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.cardimg{
    width: 70px;
    height: 70px;
    background-color: blueviolet;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    box-shadow: 0 10px 10px -2px rgba(0, 0, 0, 0.5);
    background-image: url(https://images.unsplash.com/photo-1506919258185-6078bba55d2a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=815&q=80);
}
.dets #ass{
    background-size: cover;
    background-position: center;
    box-shadow: 0 10px 10px -2px rgba(0, 0, 0, 0.5);
    background-image: url(https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80);
}
.dets #bass{
    background-size: cover;
    background-position: center;
    box-shadow: 0 10px 10px -2px rgba(0, 0, 0, 0.5);   
    background-image: url(https://images.unsplash.com/photo-1559747751-0b200a878ff0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80);
}
.dets #cass{
    background-size: cover;
    background-position: center;
    box-shadow: 0 10px 10px -2px rgba(0, 0, 0, 0.5);   
    background-image: url(https://images.unsplash.com/photo-1522767131594-6b7e96848fba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=339&q=80);
}
.dets h3{
    margin-top: 10px;
    font: size 25px; ;
    font-weight:700 ;
    opacity:.8 ;
}
.dets h5{
    font-size:13px ;
    font-weight:600;
    opacity: .5;
    margin-top: 4px;
}
.dets h5 i{
    margin-right: 5px;
    color: rgb(138, 139, 236);
}
.start{
    display: flex;
    position: absolute;
    bottom: 8px;
    width: 100%;
    /* background-color: chartreuse; */
}
.start .fllrws{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.start .fllng{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     width: 50%;
}
.fllng h5{
    opacity: .5;
}
.fllrws h5{
opacity: .5;
}
.fllrws p{
  font-weight: 700;
  opacity: .7;
}
.fllng p{
   font-weight: 700;
   opacity: .7;
}
#desc{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 250px;
    /* background-color: rgba(20, 13, 13, 0.5); */
    margin-top: 20px;
}
#descleft{
    width: 67%;
    height: 100%;
    /* background-color: royalblue; */
}
#descleft{
    color: rgb(27, 54, 83);

}

.desccard{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 39%;
    margin-top: 10px;
    padding: 10px 15px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: -7px 20px 20px rgba(0, 0, 0, 0.3);
    position: relative;
}
.desccard h6 i{
    margin-left: 10px;
   margin-right: 5px;
   color: rgb(66, 68, 180);
   
}
.desccard h4{
    
}
.desccard h6{
    opacity: .7;
    margin-top: 3px;
}
.desccard p{
    opacity: .8;
    margin-top: 5px;
    font-style: italic;
    font-size: 15px;
}
.descimg{
    width: 60px;
    height: 60px;
    background-color: royalblue ;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    box-shadow: 0 10px 10px -2px rgba(0, 0, 0, 0.8);
    background-image: url(https://images.unsplash.com/photo-1529626455594-4ff0802cfb7e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80);
}
.detailsdesc h4{
  opacity: .9;  
  color: rgb(29, 56, 100);

}
.descstar{
  position: absolute;
  top: 10px;
  left: 150px;
  opacity: .7;
  color: #091d3d;
}
#reviews{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 13px;
}
.reviewlink{
    position: absolute;
  display: flex;
  align-items: center;
   
}
.reviewlink i{
   font-size: 10px;
   opacity: .7;
}
.reviewlink h5{
   margin-right: 5px;
   font-size: 15px;
   opacity: .8;
 }
.reviewcomment{
    position: absolute;
    left: 80%;
    display: flex;
    align-items: center;
}
.reviewcomment p {
    margin: 5px 10px;
    opacity: .7;
}
.reviewcomment i{
    opacity: .7;
}
.descstar i{
    left: 30px;
}
#shashi{
    background-size: cover;
    background-position: center;
    background-image: url(https://images.unsplash.com/photo-1583195764036-6dc248ac07d9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80);
}
#descright{
    width: 29%;
    height: 100%;
    /* background-color: yellow; */
}
#descright h3{
   color: rgb(32, 62, 97);
}
.datadetails{
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #fff;
    margin-top: 10px;
    border-radius: 7px;
    padding: 0px 13px;
    box-shadow: -7px 20px 20px rgba(0, 0, 0, 0.3);


}
.datapart{
    position: absolute;
    top: 10px;
    

}
.datapart h5{
    font-size: 17px;
    opacity: .7;
}.datapart p{
    margin-top: 15px;
    font-size: 20px;
    font-weight: 600;
    opacity: .8;
}

.datalink{
    position: absolute;
  display: flex;
  align-items: center;
  bottom: 7px;
}
.datacircle1{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: chartreuse;
    margin-right: 10px;
    

}
.datacircle2{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    /* border-radius: 3px; */
    background-color: blue;
    margin-right: 10px;

}
.datalink p{
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    opacity: .8;
    margin-right: 10px;
}