*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat;
}
html,body{
    width: 100%;
    height: 100%;
}
#back{
    width: 100%;
    height: 100%;
    background-color: rebeccapurple;
}
button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 200px;
    height: 45px;
    background-color: rgb(245, 165, 35);
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 2px;
    color:rgb(0, 0, 0);
    cursor: pointer;
}
#modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 40%;
    height: 40%;
    background-color: #fff;
    z-index: 999;
    border-radius: 5px;
    box-shadow: 0 0 0 999px rgba(80, 69, 69, 0.712);

}
#modal h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    font-size: 70px; 
    font-weight: 700;
    color: rgb(231, 189, 52);
}
#modal i{
    position: absolute;
    top: 2%;
    right: 2%;
    cursor: pointer;
}